
.card {
    width: 330px;
    height: 250px;
    margin: auto;
    border-top: 1px solid ;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.red {
    border-top: 6px solid rgba(234, 84, 84, 1);
    -webkit-box-shadow: 3px 3px 23px 0px rgba(234, 84, 84, 1);
    -moz-box-shadow: 3px 3px 23px 0px rgba(234, 84, 84, 1);
    box-shadow: 3px 3px 23px 0px rgba(234, 84, 84, 1);
}
.blue {
    border-top: 6px solid rgba(68, 211, 210, 1);
    -webkit-box-shadow: 3px 3px 23px 0px rgba(68, 211, 210, 1);
    -moz-box-shadow: 3px 3px 23px 0px rgba(68, 211, 210, 1);
    box-shadow: 3px 3px 23px 0px rgba(68, 211, 210, 1);
}
.amarillo {
    border-top: 6px solid rgba(252, 174, 74, 1);
    -webkit-box-shadow: 3px 3px 23px 0px rgba(252, 174, 74, 1);
    -moz-box-shadow: 3px 3px 23px 0px rgba(252, 174, 74, 1);
    box-shadow: 3px 3px 23px 0px rgba(252, 174, 74, 1);
}
.darkblue {
    border-top: 6px solid rgba(84, 158, 242, 1);
    -webkit-box-shadow: 3px 3px 23px 0px rgba(84, 158, 242, 1);
    -moz-box-shadow: 3px 3px 23px 0px rgba(84, 158, 242, 1);
    box-shadow: 3px 3px 23px 0px rgba(84, 158, 242, 1);
}
.h2 {
    font-size: 20px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.p {
    font-size: 13px;
    padding-left: 1rem;
}
.img {
    padding-left: 12rem;
    padding-top: 1rem;
    width: 100px;
}
.one {
    grid-column: 1;
    grid-row: 1;
    transform: translateY(150px);
}
@media (max-width: 1150px) {
	.one{
        transform: translateY(0);
    }
}
.two {
    grid-column: 2;
    grid-row: 1;
}
.three {
    grid-column: 2;
    grid-row: 2;
}
.four {
    grid-column: 3;
    grid-row: 1;
    transform: translateY(150px);
}
@media (max-width: 1150px) {
	.four{
        transform: translateY(0);
    }
}