body {
	font-family: sans-serif;
}
.container {
    width: 1110px;
    margin: auto;
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(3,350px);
}
@media (max-width: 1150px) {
	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}